.mainContainer {
    height: 100vh;
    background-image: url('./background.jpg');
    background-size: cover;
}

.secoundaryContainer {
    height: 91.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 60%;
    height: 100%;
    border-radius: 0 !important;
    padding: 30px 40px;
    padding-bottom: 0;
    background: ghostwhite !important;
}

::-webkit-scrollbar {
    width: 0px;
}

.imageStyle {
    width: 30%;
}

.errorDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    color: grey;
    margin-top: 100px;
}

.center {
    text-align: center;
}

.rowStyle {
    width: 100%;
    padding: 10px 0;
}

.rowStyle:hover {
    background: lightgrey;
}

.padding_5 {
    padding-top: 5px;
}